.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;

.left-side {
    display: flex;
}
.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: 0.5s ease-in-out;
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 0.9rem;
    a {
        color: $grey;
        text-decoration: none;
        &:hover {
            color: black;
        }
    }

    .nav-link-inactive:hover {
        border-bottom: 2px solid black;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .nav-link-active {
        border-bottom: 2px solid black;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        color: black;
    
    }
}
}
.right-side {
    text-transform: uppercase;
    a {
        margin-left: 15px;
        cursor: pointer;
        color: $teal;
        &:hover {
            color: $dark-teal;
        }
    }
}